#logo {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.messageRowTemplate_content {
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-style: normal;
}

.sent {
    flex-direction: row-reverse;
}

.sent .bubble_tip {
    right: -0.5rem;
}

.received .bubble_tip {
    left: -0.5rem;
}

.channelRowTemplate_button > div {
    position: relative;
}

#channelRowTemplate_name_badge {
    background-color: #039aff;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 1px;
    left: -10px;
}
