#logo {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

article {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}
